.draftSec {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
}

.draftSec h4 {
  color: #2bd67b;
}

.draftSec h6,
.draftSec p {
  color: #ff799d;
}

.itemGrid {
  margin-top: 30px;
  margin-bottom: 30px;
}

.draftSec button {
  width: 100%;
  max-width: 250px;
  background-color: #ff0144;
  padding: 15px 0px;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1rem;
}

.draftSec button:hover {
  background-color: #ff0144;
}

.DraftitemButton {
  color: #fff;
}

.draftSecVideo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.draftSecVideo iframe {
  border-radius: 30px;
}

.draftSec h5 {
  color: #ff0144;
}

.grid p {
  color: #ffd7e1;
}

.grid {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

.grid:last-child {
  column-gap: 0px;
}
.divider {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .divider {
    display: none;
  }
}
